div.container, div.container-fluid {
    margin-top: 20px;
}


div.home-title {
    padding: 2em;
    border-radius: 0.5em;
    background-size: cover;
    background-position: center center;
}

div.home-title h1, div.home-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.home-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}




div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
}

.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: rgba(217,83,79,0.25) !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}

@media all and (max-width: 1024px) {
    #mainTitle
    {
        font-size: 2.7em;
    }
    h1, .h1 {
        font-size: 2rem;
    }
    .avatar {
        max-width: 64px;
        max-height: 64px;
        border-radius: 50%;
    }
}
