{% extends 'base.html.twig' %}

{% block title %}
    Devenir Hôte
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-3">
        <h1>Aidez-nous</h1>
            La collecte de fonds est un élément essentiel de la position d'Europe4strays en matière d'aide et de sensibilisation aux chiens errants d'Europe<br/>
            car elle nous permet de soutenir directement ceux dont les besoins sont les plus urgents.<br/>
            Notre objectif est de fournir un soutien aux animaux gravement blessés ou malades tout en garantissant un transport vers un refuge sûr.
            
            <a class="btn btn-primary btn-lg mt-3" href="https://www.paypal.com/donate?token=yoGrdZ7LCocfdlgIGLjHR7bfT319jYIi3Oc1YkeUJvCobF399gJZ9gU2G3rUkmz8jJ2RtHJtQZAsQxoS" role="button">Faire un don</a>
        
        </div>
    </div>
{% endblock %}