{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue
{% endblock %}

{% block header %}
    <h2><voici le header</h2>
{% endblock %}

{% block body %} 
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4" id="mainTitle">Bienvenue sur Europe4strays</h1>
        <p class="lead">Nous mettons en relation les animaux en attente d'adoption</p>
        <hr class="my-4">
        <p>Vous êtes dans l'attente d'un compagon ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 my-5">Nos derniers arrivants</h2>

    annonce  

    <h2 class="h1 my-5">Nos meilleurs hôtes</h2>
    <div class="row">

    hôtes    
    
    </div>    
</div>
{% endblock %}