{% extends 'base.html.twig' %}

{% block title %}
    Devenir Hôte
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-3">
        <h1>Devenir famille d'accueil</h1>
            La famille d’accueil (ou FA dans le jargon de la protection animale) joue un rôle essentiel dans le sauvetage animalier. En effet, la plupart des associations n’ont pas de locaux pour recueillir les animaux secourus. Ils font donc appel à des bénévoles qui se proposent d’héberger temporairement un animal le temps de lui trouver une famille. Désormais, certains refuges font également appel à des familles d’accueil pour permettre à un animal malade, âgé ou craintif de bénéficier d’une attention toute particulière pour l’aider à s’épanouir pleinement.<br/>
            Être famille d’accueil c’est s’engager temporairement auprès d’une association ou d’un refuge à accueillir un ou plusieurs animaux. Vos missions principales seront d’héberger, de soigner et de socialiser l’animal dans l’attente de son adoption. L’association prend généralement en charge les frais vétérinaires et certaines prendront également à leur charge les frais de nourriture.<br/>
            <br/>
            Vous pouvez vous inscrire via notre formulaire et vous desinscrire, sans autre justification. Vous inscrire ne vous oblige pas à accepter l’animal. Vous validez dans un premier temps le type d’animal et les conditions d’accueil lors de votre inscription et par la suite, lorsque vous êtes sollicité, vous posez les questions nécessaires à l’association et donnez ou non votre accord.<br/>
            Inscrivez-vous au site en cliquant sur le lien suivant et en nous indiquant que vous souhaitez devenir famille d'accueil :<br/>
            
            <a class="btn btn-primary btn-lg mt-3" href="{{ path('contact') }}" role="button">Contactez-nous</a>
        
        </div>
    </div>
{% endblock %}