{% extends 'base.html.twig' %}

{% block title %}
    Qui sommes nous ?
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Qui somme nous ?</h2>
                    <p class="lead">
                        Mirela Mistodinis est une sauveteuse roumaine de chiens et a plus de 90 chiens errants à sa charge. Mirela est à la tête d'Europe4strays, une ONG roumaine enregistrée dont le siège social est situé dans un petit village nommé Bizighesti dans le comté de Vrancea.<br/>
                        Cette organisation est 100% bénévole dirigée par Mirela avec la collaboration de plusieurs militants en Roumanie et à l'étranger.<br/>
                        Nous collectons des fonds pour construire une loge pour abriter les chiens sauvés de Mirela, pour acheter de la nourriture, pour payer les dépenses vétérinaires telles que les médicaments, les vaccinations, les vermifuges, les anti-puces et bien plus encore.<br/>
                        En 2018, nous avons lancé notre première campagne Spay / Neuter, la stérilisation est le seul moyen efficace d'arrêter la souffrance des chiens errants afin qu'il y ait moins de chiens indésirables qui ont besoin de notre aide. Mirela et son équipe le font en travaillant avec la communauté locale, en éduquant les gens et en couvrant par des dons les frais de stérilisation des personnes à faible revenu.<br/>
                        Chez Europe4strays, nous sommes motivés par l'objectif ultime de contribuer à un monde meilleur pour tous les chiens errants roumains.<br/>
                        Nous accordons une attention particulière à la promotion de nos chiens sauvés pour adoption. Pour nous, ce sont des chiens très spéciaux et méritent la famille parfaite.<br/>
                        Adopter un animal de compagnie est un engagement fort et nous vous invitons à examiner notre processus d'adoption et à nous contacter si vous pensez pouvoir offrir le temps et l'engagement nécessaires pour adopter un errant roumain.<br/>
                        Nous sommes tombés amoureux des magnifiques chiens errants roumains et nous espérons que nos actions contribueront à apporter des changements positifs dans leur avenir.<br/>
                        Le bien-être des Galgos et Podencos est un autre objectif important de notre mission ainsi que les lévriers, les chiens errants grecs, les chiens oubliés serbes et bosniaques.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('assets/img/Mirela.webp') }}" class="img-fluid" alt="Mirela">
                </div>
            </div>
        </div>
    </div>
{% endblock %}