{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette ressource{% endblock %}

{% block content %}
    <div class="container">
        <h1>Accès interdit</h1>
        <div class="alert-danger">
            <p>Vous n'avez pas le droit d'accéder à cette ressource !</p>
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>

{% endblock %}